.heading{
    font-size: 30px;
    width: 100%;
    margin: 0;
    box-shadow: 5px 5px 5px chartreuse;
}
.note{
    font-size: 18px;
    color: black;
}
.footer{
    position: fixed;
    bottom: 0;
    background-color: teal;
    width: 100%;
    line-height: 3;
}
canvas{
    border: 5px solid purple;
    border-radius: 20px;
    box-shadow: 5px 5px 5px blue;
    
}